Source: debscripttest
Section: net
Priority: optional
Maintainer: Sei <seikanchintw@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.0
Homepage: <insert the upstream URL, if relevant>

Package: debscripttest
Architecture: any
Depends: ${shlibs:Depends}, adduser, ${misc:Depends}, lsb-base, tor(>= 0.4.2.7), privoxy(>= 3.0.28)
Pre-Depends: ${misc:Pre-Depends}
Description: Just a Hello World test package
  This package contains a simple bash script that prints "Apt install script test."
