#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -W1,--as-needed

%:
	dh $@

override_dh_auto_build:
ifeq ($(DEB_BUILD_ARCH),amd64)
	GOOS=linux GOARCH=amd64 go build -o torcontroller .
else ifeq ($(DEB_BUILD_ARCH),arm64)
	GOOS=linux GOARCH=arm64 go build -o torcontroller .
else
	$(error Unsupported architecture: $(DEB_BUILD_ARCH))
endif

override_dh_dwz:
	:
